@use '@/styles/color';

.root {
  background-color: color.$primary;
  border: none;
  border-radius: 8px;
  color: color.$background;
  font-size: 20px;
  padding: 12px 24px;
  cursor: pointer;

  &:hover {
    background-color: rgb(color.$primary-rgb / 80%);
  }

  &:active {
    background-color: rgb(color.$primary-rgb / 90%);
  }
}
