$background: rgb(var(--rlt-background));
$text: rgb(var(--rlt-text));
$primary-rgb: var(--rlt-primary);
$primary: rgb(var(--rlt-primary));
$secondary: rgb(var(--rlt-secondary));
$success: rgb(var(--rlt-success));
$warning: rgb(var(--rlt-warning));
$error: rgb(var(--rlt-error));
