:root {
  --rlt-background: 255 255 255;
  --rlt-text: 20 20 60;
  --rlt-primary: 146 80 255;
  --rlt-secondary: 255 150 60;
  --rlt-success: 37 202 113;
  --rlt-warning: 255 232 110;
  --rlt-error: 234 18 16;
}
